@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-medium;
  }

  h3 {
    @apply font-medium;
  }
}

@layer utilities {
  .single_page_description>p {
    @apply text-xl;
    @apply font-light;
    @apply mb-5;
    @apply max-sm:text-lg;
  }
}

:root {
  --bg: white;
  --softBg: #f0f0f0;
  --textColor: black;
  --softTextColor: #626262;
}

.dark {
  --bg: #0f172a;
  --softBg: #1f273a;
  --textColor: #ddd;
  --softTextColor: #a6a6a6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.themeContainer {
  color: var(--textColor);
  background: var(--bg);
}

.wrapper {
  min-height: 100vh;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
}

.category-style {
  background-color: #57c4ff31;
}

.category-food {
  background-color: #7fb88133;
}

.category-culture {
  background-color: #ffb04f45;
}

.category-fashion {
  background-color: #da85c731;
}


@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  color: #b3b3b1;
}